# Created by .ignore support plugin (hsz.mobi)
.env
.idea/.gitignore
.idea/LinkedInConnectionsScraper.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/
venv/
data.xlsx